<% if user_signed_in? %>
	<h1>You're logged in</h1>
<% else %>
	<div class="hero-unit">
		<h1>Welcome to Mike's Wonderful Noobie Application for Ruby on Rails!</h1>
		<br>
		<p>
			You've found the home page. I'm learning 
			<%= link_to "Ruby on Rails", "http://onemonthrails.com" %>
			. This is my first application.
		</p>
		<p>
			I also run an online agency <%= link_to "Sovo Media", "http://www.sovomedia.com" %>
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>