<div class="hero-unit">
	<h1>Welcome to Mike's Wonderful Noobie Application for Ruby on Rails!</h1>
	<p>
		You've found the home page. I'm learning 
		<%= link_to "Ruby on Rails", "http://onemonthrails.com" %>
		. This is my first application.
	</p>
	<p>
		I also run an online agency <a href="http://www.sovomedia.com">Sovo Media</a>
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>